<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="scripts/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/random.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Radom Number Game</title>
  </head>
  <body>
    <h1> Radom Number Game </h1>
    <div id="setup">
      <select id="maxNumberIn">
        <option value="10">easy</option>
        <option value="25">medium</option>
        <option value="50">hard</option>
        <option value="100">extreme</option>
      </select>
      <button id="startButton">Start</button>
    </div>
    <div id="play">
      <input type="number" id="player1" placeholder="Player #1">
      <input type="number" id="player2" placeholder="Player #2">
      <input type="number" id="player3" placeholder="Player #3">
      <input type="number" id="player4" placeholder="Player #4">
      <input type="number" id="player5" placeholder="Player #5">
      <input type="number" id="player6" placeholder="Player #6">
      <button id="guessButton">Guess</button>
      <button id="resetButton">Reset</button>
    </div>
  </body>
</html>
